.list-group {
    &-item {
        &.active {
            a {
                color: $white;
            }
        }

        a {
            + a {
                padding-left: 30px;
            }
        }
    }
}

.sub-item {
    padding-left: 45px;
}